---
import { SITE } from 'astrowind:config';
import LogoImage from '~/assets/images/Web3Wayafrica_logo.png';
---

<div class="flex items-center">
  <img
    src={LogoImage.src}
    alt="Web3WayAfrica Logo"
    class="h-8 w-auto mr-3"
  />
  <span
    class="self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</div>